body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  border: 1mm dashed red;
}

.itemListDiv {
  display: flex;
  flex-direction: row;
}


.itemListName {
  flex:4;
}

.itemListQuantity {
  flex:2
}

.headLink a {
  color:limegreen;
}


.headerLinkDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
