body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
  border: 1mm dashed #7BCC70;
}

.itemListDiv {
  display: flex;
  flex-direction: row;
}

.itemListDiv.num0 {
  background: antiquewhite;
}

.itemListName {
  flex:4;
}

.itemListQuantity {
  flex:2
}

.headLink a {
  color:limegreen;
}


.headerLinkDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.user_header a {
  color: pink;
  float: right;
}

.user_header a:visited {
  color: yellow;
}

a :visited {
  color: pink;
}

.invisibleFilters {
  display: none;
}

.visibleFilters {
  display: flex;
  flex-direction: row;
}
